.mia{
  margin-right: 5rem;
}

body{
  background-color: #1bc7fb;
}

main{
  margin: 2rem;
}

  
  .navbar {
    z-index: 1000;
}

.textoMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contenedorMain{
  margin-top: 2rem;
  background-color: black;
  border: solid red 0.3rem;
  border-radius: 3rem;
  padding: 0.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.contenedorMain p{
  color: #1bc7fb;
}

.contenedorMain h1{
  justify-content: center;
  color: #9c9c9c;
}

.contenedorMain h5{
  color: #9c9c9c;
}

footer{
  padding: 0.5rem;
  background-color: aliceblue;
}

.contenedorMain img{
  height: 5rem;
  width: 4rem;
  padding: 0.2rem;
  margin: 0.5rem;
  border-radius: 100%;
  border: solid red 0.1rem;
}

.yoMasFoto{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.contenedor {
  background-color: aqua;
  margin: 9rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.contenedor .contenido {
  flex: 1;
}

.contenedor .textoMain {
  margin-top: 0;
}

.imgComic1 {
  width: 20rem;
  margin-left: 7rem;
}

.imgComic2{
  margin-right: 2rem;
}

.contenedor h3 {
  margin-top: 0;
}

.espacioIzquierdo{
padding-left: 6rem;
}

.espacioDerecho{
  padding-right: 7rem;
}
.containerr {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
/* Aqui dejo el css del form */

.movieForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5f5f5f;
}

.movieForm label {
  color: #ffffff; 
  margin-bottom: 0.5rem;
}

.movieForm input[type="text"],
.movieForm input[type="number"],
.movieForm input[type="url"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
#enviarBtn, #limpiarBtn {
  border: 0.2rem solid red;
  padding: 0.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: #1bc7fb;
  color: #fff;
  cursor: pointer;
}

section {
  padding: 20px;
}

#form button:hover{
  transition: 500ms;
  background-color: #000000;
}


/* desde aca son cosas de freefronted*/


.hero {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #ffffff;
  z-index: 2;
  letter-spacing: 10px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 100px;
  background: #ffffff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #ffffff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #ffffff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  padding: 20px 0;
  margin-left: 15rem;
  margin-right: 15rem;
  text-align: center;
}

.environment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(5px);
  background: url(https://images.unsplash.com/photo-1602136773736-34d445b989cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80)
    center no-repeat;
  background-size: cover;
}

.button{
  --top : rgba(100,100,100,.8) ;
  --bottom : rgba(100,100,100,.2) ;
  --side : rgba(100,100,100,.5) ;

  --1_top : rgba(216,0,60,.8) ;
  --1_bottom : rgba(216,0,60,.2) ;
  --1_side : rgba(216,0,60,.5) ;

  --2_top : rgba(0,100,190,.8) ;
  --2_bottom : rgba(0,100,190,.2) ;
  --2_side : rgba(0,100,190,.5) ;

  --3_top : rgba(0,170,100,.8) ;
  --3_bottom : rgba(0,170,100,.2) ;
  --3_side : rgba(0,170,100,.5) ;

  --4_top : rgba(255,230,20,.8) ;
  --4_bottom : rgba(255,230,20,.2) ;
  --4_side : rgba(255,230,20,.5) ;

  --5_top : rgba(155,50,255,.8) ;
  --5_bottom : rgba(155,50,255,.2) ;
  --5_side : rgba(155,50,255,.5) ;
}

.button{
  display : flex ;
  position : relative ;
  width : 280px ;
  height : 80px ;
  text-decoration : none ;
  perspective : 600px ;
  background : linear-gradient( rgba(255,255,255,.1) 0% , rgba(255,255,255,0) 30%  ,rgba(255,255,255,0) 70% , rgba(255,255,255,.1)) ;
  box-shadow : 0 0 32px rgba(0,0,0,1) ;
}
.button::before,
.button::after{
  content : '' ;
  position : absolute ;
  top : 0 ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
  width : 100% ;
  height : 100% ;    
}
.button::before{
  top : 0 ;
  transform-origin : top center ;
  transform : rotateX(70deg) ;
  background : linear-gradient(135deg , rgba(255,255,255,.3) 10%, rgba(255,255,255,0) 60%);
}
.button::after{
  bottom : 0 ;
  transform-origin : bottom center ;
  transform : rotateX(-110deg) ;
  background : radial-gradient( rgba(255,255,255,0) 40%, rgba(255,255,255,.1) ) ;
}
.button__wrapper{
  position : relative ;
  z-index : 2 ;
  width : 100% ;
  height : 100% ;
  background : linear-gradient( rgba(255,255,255,.4) 0% , rgba(255,255,255,0) 30%  ,rgba(255,255,255,0) 70% , rgba(255,255,255,.2)) ;
  transform : translate3d( 0 , 27px , 74px) ;
  perspective : 600px ;
}
.button__text{
  position : relative ;
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
  font-family: 'Alfa Slab One', cursive;
  font-size : 32px ;
  letter-spacing : 4px ;
  color : rgba(255,255,255,.2) ;
  transition : all ease-in-out 1s ;
}
.button__text::before{
  content : '' ;
  position : absolute ;
  z-index : 1 ;
  top : 0 ;
  left : 0 ;
  width : 230px ;
  height : 80px ;
  background : linear-gradient(25deg , rgba(255,255,255,.1) , rgba(255,255,255,0)) ;
  clip-path : path('M230,0H0V80H146.96c0-35.33,33.95-65.83,83.04-80Z') ;
}
.button__text::after{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : 4px ;
  left : 4px ;
  width : 272px ;
  height : 40px ;
  background : linear-gradient(25deg , rgba(255,255,255,.3) , rgba(255,255,255,0)) ;
  clip-path : path('M272,9.22V0H0V40H.32C48.19,22.59,151.14,10.26,272,9.22Z') ;
}
.button__wrapper::before,
.button__wrapper::after{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 84px ;
  height : 100% ;
  background : linear-gradient(90deg , rgba(255,255,255,.2) 0% , rgba(255,255,255,0) 30%  ,rgba(255,255,255,0) 70% , rgba(255,255,255,.2)) ;
  background : radial-gradient( rgba(255,255,255,0) 40%, rgba(255,255,255,.1) ) ;
}
.button__wrapper::before{
  left : 0 ;
  transform-origin : left center ;
  transform : rotateY(90deg) skewY(-20deg);
}
.button__wrapper::after{
  right : 0 ;
  transform-origin : right center ;
  transform : rotateY(-90deg) skewY(20deg);
}

.button__box{
  position : absolute ;
  top : 0 ;
  left : 8px ;
  bottom : 0 ;
  margin : auto 0 ;
  width : 264px ;
  height : 70px ;
  transform : translate3d(0, 4px, 10px) ;
  perspective : 600px ;
}
.inner{
  transition : all ease-in-out 1s ;
}
.inner__back{
  position : absolute ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  background : var(--bottom);
  perspective : 600px ;
}
.inner__top{
  position : absolute ;
  z-index : 3 ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  transform-origin : top left ; 
  transform : rotateX(70deg) ;
  background : var(--top);
}
.inner__front{
  position : absolute ;
  z-index : 3 ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  transform-origin : top left ; 
  transform : translate3d(0, 24px, 68px ) ;
  background : var(--top);
}
.inner__bottom{
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  transform-origin : bottom left ; 
  transform : rotateX(-110deg) ;
  background : var(--bottom);
}
.inner__left{
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  left : 0 ;
  width : 68px ;
  height : 100% ;
  transform-origin : center left ; 
  transform : rotateY(-90deg) skewY(20deg) ;
  background : rgba(255,0,0,0) ;
  transition : all linear .01s ;
}
.inner__right{
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  left : 0 ;
  width : 68px ;
  height : 100% ;
  transform-origin : center left ; 
  transform : rotateY(-90deg) skewY(20deg) ;
  background : rgba(255,0,0,0) ;
}
.button:hover .inner__top,
.button:hover .inner__front,
.button:hover .inner__bottom,
.button:hover .inner__back{
  width : 100% ;
}
.button:hover .inner__left{
  background :  var(--side) ;
}
.button:hover .inner__right{
  left : 100% ;
  background :  var(--side) ;
}
.button:hover .button__text{
  color : rgba(255,255,255,1) ;
}
.plate{
  position : absolute ;
  z-index : 10 ;
  top : 0 ;
  left : -20px ;
  width : 320px ;
  height : 120px ;
  animation-duration : 3s ;
  animation-iteration-count : infinite ;
}
.plate:nth-child(1){
  animation-name : plate_1 ;
}
.plate:nth-child(2){
  animation-name : plate_2 ;
}
.plate:nth-child(3){
  animation-name : plate_3 ;
}
.plate:nth-child(4){
  animation-name : plate_4 ;
}
.plate:nth-child(5){
  animation-name : plate_5 ;
}
.button:hover .plate{
  animation-play-state : paused ;
}
.plate:nth-child(1):hover ~ .button__box .inner__top,
.plate:nth-child(1):hover ~ .button__box .inner__front{
  background : var(--1_top);
} 
.plate:nth-child(1):hover ~ .button__box .inner__left,
.plate:nth-child(1):hover ~ .button__box .inner__right{
  background : var(--1_side);
} 
.plate:nth-child(1):hover ~ .button__box .inner__back,
.plate:nth-child(1):hover ~ .button__box .inner__bottom{
  background : var(--1_bottom);
} 
.plate:nth-child(2):hover ~ .button__box .inner__top,
.plate:nth-child(2):hover ~ .button__box .inner__front{
  background : var(--2_top);
} 
.plate:nth-child(2):hover ~ .button__box .inner__left,
.plate:nth-child(2):hover ~ .button__box .inner__right{
  background : var(--2_side);
} 
.plate:nth-child(2):hover ~ .button__box .inner__back,
.plate:nth-child(2):hover ~ .button__box .inner__bottom{
  background : var(--2_bottom);
} 
.plate:nth-child(3):hover ~ .button__box .inner__top,
.plate:nth-child(3):hover ~ .button__box .inner__front{
  background : var(--3_top);
} 
.plate:nth-child(3):hover ~ .button__box .inner__left,
.plate:nth-child(3):hover ~ .button__box .inner__right{
  background : var(--3_side);
} 
.plate:nth-child(3):hover ~ .button__box .inner__back,
.plate:nth-child(3):hover ~ .button__box .inner__bottom{
  background : var(--3_bottom);
} 
.plate:nth-child(4):hover ~ .button__box .inner__top,
.plate:nth-child(4):hover ~ .button__box .inner__front{
  background : var(--4_top);
} 
.plate:nth-child(4):hover ~ .button__box .inner__left,
.plate:nth-child(4):hover ~ .button__box .inner__right{
  background : var(--4_side);
} 
.plate:nth-child(4):hover ~ .button__box .inner__back,
.plate:nth-child(4):hover ~ .button__box .inner__bottom{
  background : var(--4_bottom);
} 
.plate:nth-child(5):hover ~ .button__box .inner__top,
.plate:nth-child(5):hover ~ .button__box .inner__front{
  background : var(--5_top);
} 
.plate:nth-child(5):hover ~ .button__box .inner__left,
.plate:nth-child(5):hover ~ .button__box .inner__right{
  background : var(--5_side);
} 
.plate:nth-child(5):hover ~ .button__box .inner__back,
.plate:nth-child(5):hover ~ .button__box .inner__bottom{
  background : var(--5_bottom);
} 
@keyframes plate_1{
  0%   { transform : scale(1) ; }
  19.9%{ transform : scale(1) ; }
  20%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_2{
  0%   { transform : scale(0) ; }
  19.9%{ transform : scale(0) ; }
  20%  { transform : scale(1) ; }
  39.9%{ transform : scale(1) ; }
  40%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_3{
  0%   { transform : scale(0) ; }
  39.9%{ transform : scale(0) ; }
  40%  { transform : scale(1) ; }
  59.9%{ transform : scale(1) ; }
  60%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_4{
  0%   { transform : scale(0) ; }
  59.9%{ transform : scale(0) ; }
  60%  { transform : scale(1) ; }
  79.9%{ transform : scale(1) ; }
  80%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_5{
  0%   { transform : scale(0) ; }
  79.9%{ transform : scale(0) ; }
  80%  { transform : scale(1) ; }
  100% { transform : scale(1) ; }
}

/* 本体に関係ないスタイル */
